@{
    ViewBag.Title = "mostrardetalleservicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
$(window).load(function(){
	$('#demo-side-bar').removeAttr('style');
});
</script>
<style type="text/css">
.demobar{display:none;}
#demo-side-bar{top:53px!important;left:90%!important;display:block!important;}
</style>
  <!-- START CONTENT -->
    <section class="container clearfix">	
		<!-- START PORTFOLIO SLIDER -->
		<div class="content clearfix">
			<div class="portfolio_slider_container">
				<ul id="slider">
					<li>
						<a data-rel="prettyPhoto" href="/images/portfolio_single_1.jpg" title="Website Integration"><img src="/images/portfolio_detail_1.jpg" alt="" /></a>
						<p class="caption">Custom Admin Panel</p>
					</li>
					<li>
						<a data-rel="prettyPhoto" href="/images/portfolio_single_2.jpg" title="Interactive Wireframe"><img src="/images/portfolio_detail_2.jpg" alt="" /></a>
						<p class="caption">Easily Customizable</p>
					</li>
					<li>
						<a data-rel="prettyPhoto" href="/images/portfolio_single_3.jpg" title="Bounce Store Rate"><img src="/images/portfolio_detail_3.jpg" alt="" /></a>
						<p class="caption">Widget Ready</p>
					</li>
					<li>
						<a data-rel="prettyPhoto" href="/images/portfolio_single_4.jpg" title="Developer Friendly"><img src="/images/portfolio_detail_4.jpg" alt="" /></a>
						<p class="caption">Built for Professionals</p>
					</li>
				</ul>
			</div>
		</div>
		<!-- END PORTFOLIO SLIDER -->
		
		<!-- START PORTFOLIO DESCRIOPTION -->
		<div class="sidebar">
			<div class="padding10"></div>
			<h4 class="bottom_line regular">Resume WordPress Theme</h4>
			<div >
            <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempor mauris nec diam ultrices convallis. Donec tellus velit, tincidunt id consequat nec, tincidunt et velit. Mauris scelerisque nunc non enim cursus malesuada interdum arcu viverra. Nulla nunc diam, venenatis ut commodo a, volutpat id augue. In rhoncus turpis et nulla pretium fermentum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc felis dolor, adipiscing ut sagittis ac. <br /><br />
            
            <a href="javascript:" class="button green">View Demo</a> 
           
            </p> 
			</div>
		
			
			
            <div class="clear padding10"></div>
			

			<h4 class="bottom_line regular">Tools & Technologies</h4>
			<p>Photoshop, Dreamweaver, CSS, HTML, jQuery</p>
            
			<div class="clear padding10"></div>
			

			<h4 class="bottom_line regular">Client</h4>
			<p>eGrappler.com </p>
			
			<div class="clear padding10"></div>
			
			<!-- START SOCIALS -->
			<h4 class="bottom_line regular">Sharing is caring</h4>
			<div class="portfolio_social">	
				<ul >
					<li><a href="#"><img src="/images/facebook_32.png" width="32" height="32" alt="Facebook"></a></li>
					<li><a href="#"><img src="/images/twitter_32.png" width="32" height="32" alt="Twitter"></a></li>
					<li><a href="#"><img src="/images/linkedin_32.png" width="32" height="32" alt="Linkedin"></a></li>

				</ul>
			</div>
			<!-- END SOCIALS -->
				
				<div class="clear"></div>

		</div>
		<div class="clear padding40"></div>
		<!-- END PORTFOLIO DESCRIOPTION -->
		
	</section>
    <!-- END CONTENT -->
