@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <section class="container clearfix">		
		<div class="pricing_table columns_5 clearfix">
			
			<!-- START LIST BOX -->
			<div class="box item_list">
				<div class="head"><!-- --></div>
				<ul class="pricing_items pricing-labels">
					<li class="first">Blogs Allowed</li>
					<li>Photo Albums</li>
					<li>Technical Support</li>
					<li>Post by Email</li>
					<li>Data Transfer</li>
					<li class="last">Link Backs</li>
				</ul>
				
			</div>
			<!-- END LIST BOX -->

			<!-- START 1st BOX -->
			<div class="box">
				<div class="head first">
					<h2 class="title">Basic</h2>
					<h3 class="price">$15/month</h3>
				</div>
				<ul class="pricing_items clearfix">
					<li data-item="Blogs">5</li>
					<li data-item="PhotoAlbums">2</li>
					<li data-item="TechnicalSupport"><span class="featureno">&nbsp;</span></li>
					<li data-item="PostByEmail"><span class="featureno">&nbsp;</span></li>
					<li data-item="DataTransfer">50GB</li>
					<li data-item="LinkBacks">20</li>
				</ul>
				<div class="foot first clearfix">
					<a href="#" class="big_link">Sign Up</a>
				</div>
			</div>
			<!-- END 1st BOX -->
			
			<!-- START 2nd BOX -->
			<div class="box">
				<div class="head">
					<h2 class="title">Plus</h2>
					<h3 class="price">$20/month</h3>
				</div>
				<ul class="pricing_items clearfix">
					<li data-item="Blogs">50</li>
					<li data-item="PhotoAlbums">500</li>
					<li data-item="TechnicalSupport"><span class="featureno">&nbsp;</span></li>
					<li data-item="PostByEmail"><span class="featureno">&nbsp;</span></li>
					<li data-item="DataTransfer">600GB</li>
					<li data-item="LinkBacks">700</li>
				</ul>
				<div class="foot clearfix">
					<a href="#" class="big_link">Sign Up</a>
				</div>
			</div>
			<!-- END 2nd BOX -->
			
			<!-- START 3rd BOX -->
			<div class="box featured">
				<div class="head">
					<h2 class="title">Premium</h2>
					<h3 class="price">$50/month</h3>
					<div class="best">
						Recommended
					</div>
				</div>
				<ul class="pricing_items clearfix">
					<li data-item="Blogs">Unlimited</li>
					<li data-item="PhotoAlbums">Unlimited</li>
					<li data-item="TechnicalSupport"><span class="featureyes">&nbsp;</span></li>
					<li data-item="PostByEmail"><span class="featureyes">&nbsp;</span></li>
					<li data-item="DataTransfer">Unlimited</li>
					<li data-item="LinkBacks">50,000</li>
				</ul>
				<div class="foot clearfix">
					
						<a href="javascript:" class="big_link">Sign Up</a>
				
				</div>
			</div>
			<!-- START 3rd BOX -->

			<!-- START 4th BOX -->
			<div class="box">
				<div class="head">
					<h2 class="title">Pro</h2>
					<h3 class="price">$30/month</h3>
				</div>
				<ul class="pricing_items clearfix">
					<li data-item="Blogs">500</li>
					<li data-item="PhotoAlbums">2000</li>
					<li data-item="TechnicalSupport"><span class="featureyes">&nbsp;</span></li>
					<li data-item="PostByEmail"><span class="featureyes">&nbsp;</span></li>
					<li data-item="DataTransfer">50GB</li>
					<li data-item="LinkBacks">1500</li>
				</ul>
				<div class="foot clearfix">
					
						<a href="javascript:" class="big_link">Sign Up</a>
					
				</div>
			</div>
			<!-- END 4th BOX -->
            
            <!-- START 4th BOX -->
			<div class="box">
				<div class="head last">
					<h2 class="title">Pro 2</h2>
					<h3 class="price">$35/month</h3>
				</div>
				<ul class="pricing_items clearfix">
					<li data-item="Blogs">600</li>
					<li data-item="PhotoAlbums">2200</li>
					<li data-item="TechnicalSupport"><span class="featureyes">&nbsp;</span></li>
					<li data-item="PostByEmail"><span class="featureyes">&nbsp;</span></li>
					<li data-item="DataTransfer">60GB</li>
					<li data-item="LinkBacks">1700</li>
				</ul>
				<div class="foot last clearfix">
					
						<a href="javascript:" class="big_link">Sign Up</a>
					
				</div>
			</div>
			<!-- END 4th BOX -->
            
            
		</div>
		
	
	</section>
