@{
    ViewBag.Title = "Página principal";
}
<!-- START FEATURED COLUMNS -->
		<div class="col_1_3">
			<div class="features">
				<div class="title clearfix">
					<img src="images/code-icon.png" alt="" class="alignleft" />
					<h3>Beautiful, Responsive and Valid Template</h3>

				</div>
			    <p>  </p>
            </div>
		</div>
		<div class="col_1_3">
			<div class="features">
				<div class="title clearfix">
					<img src="images/intuitive-icon.png" alt="" class="alignleft" />
					<h3>Eye Catching, Clean and Intuitive Design</h3>

				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id ligula in ipsum vulputate volutpat at ut nisi. Aliquam erat volutpat. Maecenas pretium dolor vitae lectus fermentum convallis bibendum in erat. Donec vitae risus non lorem volutpat fringilla in in metus. Aenean quis eros diam. Proin porta quam at neque congue iaculis. <br /> <a href="#">more info</a></p> 
			</div>
		</div>
		<div class="col_1_3 last">
			<div class="features">
				<div class="title clearfix">
					<img src="images/businesses-icon.png" alt="" class="alignleft" />
					<h3>Perfect for Businesses & Portfolios</h3>
					
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id ligula in ipsum vulputate volutpat at ut nisi. Aliquam erat volutpat. Maecenas pretium dolor vitae lectus fermentum convallis bibendum in erat. Donec vitae risus non lorem volutpat fringilla in in metus. Aenean quis eros diam. Proin porta quam at neque congue iaculis. <br /> <a href="#">more info</a></p> 
			</div>
		</div>
		<!-- END FEATURED COLUMNS -->
		
		<div class="clear padding10"></div>
		
		<div class="recent_works_left">
			<h2 class="red">Featured Work</h2>
		</div>
		<div class="recent_works_arrows">
			<a href="#" class="prev_item"></a><a href="#" class="next_item"></a>
		</div>
		
		<div class="clear"></div>
		<div class="line"></div>
		<div class="clear padding30"></div>
					

			<div class="recent_works">
				<ul id="work">
					<!-- START PORTFOLIO COLUMN #1 -->
					<li id="id-1" class="app">
						<span class="recent_image">
							<a href="images/portfolio_large.jpg" data-rel="prettyPhoto" class="img-thumb"><img class="portfolio_image" src="images/featured_work_1.jpg" alt="" /></a>
						</span>
						<span class="title"><a href="portfolio_details.html">Open Source Icons</a></span>
						
						<span class="clear padding15"></span>
					</li>
					<!-- END PORTFOLIO COLUMN #1 -->
					
					<!-- START PORTFOLIO COLUMN #2 -->
					<li id="id-2" class="util">
						<span class="recent_image">
							<a href="images/portfolio_large.jpg" data-rel="prettyPhoto" title="Free Admin Template from eGrappler.com"  class="img-thumb"><img class="portfolio_image" src="images/featured_work_2.jpg" alt="" /></a>
						</span>
						<span class="title"><a href="portfolio_details.html">Free Admin Template</a></span>
						
						<span class="clear padding15"></span>
					</li>
					<!-- END PORTFOLIO COLUMN #2 -->
					
					<!-- START PORTFOLIO COLUMN #3 -->
					<li id="id-3" class="app">
						<span class="recent_image">
							<a href="images/portfolio_large.jpg" data-rel="prettyPhoto" title="Free Social Plugin" class="img-thumb"><img class="portfolio_image" src="images/featured_work_3.jpg" alt="" /></a>
						</span>
						<span class="title"><a href="portfolio_details.html">Free Social Plugin</a></span>
						
						<span class="clear padding15"></span>
					</li>
					<!-- END PORTFOLIO COLUMN #3 -->
					
					<!-- START PORTFOLIO COLUMN #3 -->
					<li id="id-4" class="app">
						<span class="recent_image">
							<a href="images/portfolio_large.jpg" data-rel="prettyPhoto" class="img-thumb"><img class="portfolio_image" src="images/portfolio_image_4.jpg" alt="" /></a>
						</span>
						<span class="title"><a href="portfolio_details.html">Desing Freebies</a></span>
						
						<span class="clear padding15"></span>
					</li>
					<!-- END PORTFOLIO COLUMN #3 -->
					
					<!-- START PORTFOLIO COLUMN #3 -->
					<li id="id-5" class="app">
						<span class="recent_image">
							<a href="images/portfolio_large.jpg" data-rel="prettyPhoto" class="img-thumb"><img class="portfolio_image" src="images/portfolio_image_5.jpg" alt="" /></a>
						</span>
						<span class="title"><a href="portfolio_details.html">Free WordPress Resume Theme</a></span>
						
						<span class="clear padding15"></span>
					</li>
					<!-- END PORTFOLIO COLUMN #3 -->
					
					<!-- START PORTFOLIO COLUMN #3 -->
					<li id="id-6" class="app">
						<span class="recent_image">
							<a href="images/portfolio_large.jpg" data-rel="prettyPhoto" class="img-thumb"><img class="portfolio_image" src="images/portfolio_image_6.jpg" alt="" /></a>
						</span>
						<span class="title"><a href="portfolio_details.html">jQuery Pagination Plugin</a></span>
						
						<span class="clear padding15"></span>
					</li>
					<!-- END PORTFOLIO COLUMN #3 -->
					
					<!-- START PORTFOLIO COLUMN #3 -->
					<li id="id-7" class="app">
						<span class="recent_image">
							<a href="images/portfolio_large.jpg" data-rel="prettyPhoto" class="img-thumb"><img class="portfolio_image" src="images/portfolio_image_7.jpg" alt="" /></a>
						</span>
						<span class="title"><a href="portfolio_details.html">Clean Business HTML Template</a></span>
						
						<span class="clear padding15"></span>
					</li>
					<!-- END PORTFOLIO COLUMN #3 -->
				</ul>
			</div>