@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- START CONTENT -->
    <section class="container clearfix">
		<div class="clear padding20"></div>
		
		
		<div class="portfolio_1_3">
			<ul id="list">
				<!-- START PORTFOLIO COLUMN #1 -->
				<li id="id-1" class="app">
					<span class="image">
						<a href="/images/portfolio_image_1.jpg" data-rel="prettyPhoto" class="img-thumb"><img class="portfolio_image" src="/images/portfolio_image_1.jpg" alt="" /></a>
					</span>
					<span class="title"><a href="~/archivos/verlistadepersonas">VER LISTA DE PERSONAS</a></span>
					<span class="description">
						podra ver la lista completa de estos clientes  y con la opcion de porder exporta la lista en formato cvs
					</span>
					<span class="clear padding15"></span>
				</li>
				<!-- END PORTFOLIO COLUMN #1 -->
				
				<!-- START PORTFOLIO COLUMN #2 -->
				<li id="id-2" class="util">
					<span class="image">
						<a href="/images/portfolio_image_2.jpg" data-rel="prettyPhoto" class="img-thumb"><img class="portfolio_image" src="/images/portfolio_image_2.jpg" alt="" /></a>
					</span>
					<span class="title"><a href="~/archivos/verlistadeempresas">VER LISTA DE EMPRESAS</a></span>
					<span class="description">
						podra ver la lista completa de estos clientes  y con la opcion de porder exporta la lista en formato cvs
					</span>
					<span class="clear padding15"></span>
				</li>
				<!-- END PORTFOLIO COLUMN #2 -->
				
				<!-- START PORTFOLIO COLUMN #3 -->
				<li id="id-3" class="app">
					<span class="image">
						<a href="/images/portfolio_image_3.jpg" data-rel="prettyPhoto" class="img-thumb"><img class="portfolio_image" src="/images/portfolio_image_3.jpg" alt="" /></a>
					</span>
					<span class="title"><a href="~/archivos/verlistadeagencias">VER LISTA DE AGENCIAS</a></span>
					<span class="description">
						podra ver la lista completa de estos clientes  y con la opcion de porder exporta la lista en formato cvs
					</span>
					<span class="clear padding15"></span>
				</li>
				<!-- END PORTFOLIO COLUMN #3 -->
                </ul>
			<div class="clear"></div>
		</div>
	</section>
    <!-- END CONTENT -->