@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
   <!-- START CONTENT -->
    <section class="container clearfix">
		<div class="clear padding20"></div>
		
		
		<div class="portfolio_1_3">
			<ul id="list">
				<!-- START PORTFOLIO COLUMN #1 -->
				<li id="id-1" class="app">
					<span class="image">
						<a href="/images/portfolio_image_1.jpg" data-rel="prettyPhoto" class="img-thumb"><img class="portfolio_image" src="/images/portfolio_image_1.jpg" alt="" /></a>
					</span>
					<span class="title"><a href="~/precios/">The standard Lorem Ipsum passage</a></span>
					<span class="description">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</span>
					<span class="clear padding15"></span>
				</li>
				<!-- END PORTFOLIO COLUMN #1 -->
				
				<!-- START PORTFOLIO COLUMN #2 -->
				<li id="id-2" class="util">
					<span class="image">
						<a href="/images/portfolio_image_2.jpg" data-rel="prettyPhoto" class="img-thumb"><img class="portfolio_image" src="/images/portfolio_image_2.jpg" alt="" /></a>
					</span>
					<span class="title"><a href="~/precios/">The standard Lorem Ipsum passage</a></span>
					<span class="description">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</span>
					<span class="clear padding15"></span>
				</li>
				<!-- END PORTFOLIO COLUMN #2 -->
				
				<!-- START PORTFOLIO COLUMN #3 -->
				<li id="id-3" class="app">
					<span class="image">
						<a href="/images/portfolio_image_3.jpg" data-rel="prettyPhoto" class="img-thumb"><img class="portfolio_image" src="/images/portfolio_image_3.jpg" alt="" /></a>
					</span>
					<span class="title"><a href="~/precios/">The standard Lorem Ipsum passage</a></span>
					<span class="description">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</span>
					<span class="clear padding15"></span>
				</li>
				<!-- END PORTFOLIO COLUMN #3 -->
				
				<!-- START PORTFOLIO COLUMN #4 -->
				<li id="id-4" class="util">
					<span class="image">
						<a href="/images/portfolio_image_4.jpg" data-rel="prettyPhoto" class="img-thumb"><img class="portfolio_image" src="/images/portfolio_image_4.jpg" alt="" /></a>
					</span>
					<span class="title"><a href="~/precios/">The standard Lorem Ipsum passage</a></span>
					<span class="description">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</span>
					<span class="clear padding15"></span>
				</li>
				<!-- END PORTFOLIO COLUMN #4 -->
				
				<!-- START PORTFOLIO COLUMN #5 -->
				<li id="id-5" class="app">
					<span class="image">
						<a href="/images/portfolio_image_5.jpg" data-rel="prettyPhoto" class="img-thumb"><img class="portfolio_image" src="/images/portfolio_image_5.jpg" alt="" /></a>
					</span>
					<span class="title"><a href="~/precios/">The standard Lorem Ipsum passage</a></span>
					<span class="description">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</span>
					<span class="clear padding15"></span>
				</li>
				<!-- END PORTFOLIO COLUMN #5 -->
				
				<!-- START PORTFOLIO COLUMN #6 -->
				<li id="id-6" class="util">
					<span class="image">
						<a href="/images/portfolio_image_6.jpg" data-rel="prettyPhoto" class="img-thumb"><img class="portfolio_image" src="/images/portfolio_image_6.jpg" alt="" /></a>
					</span>
					<span class="title"><a href="~/precios/">The standard Lorem Ipsum passage</a></span>
					<span class="description">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</span>
					<span class="clear padding15"></span>
				</li>
				<!-- END PORTFOLIO COLUMN #6 -->
				
				<!-- START PORTFOLIO COLUMN #7 -->
				<li id="id-7" class="util">
					<span class="image">
						<a href="/images/portfolio_image_7.jpg" data-rel="prettyPhoto" class="img-thumb"><img class="portfolio_image" src="/images/portfolio_image_7.jpg" alt="" /></a>
					</span>
					<span class="title"><a href="~/precios/">The standard Lorem Ipsum passage</a></span>
					<span class="description">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</span>
					<span class="clear padding15"></span>
				</li>
				<!-- END PORTFOLIO COLUMN #7 -->
				
				<!-- START PORTFOLIO COLUMN #8 -->
				<li id="id-8" class="app">
					<span class="image">
						<a href="/images/portfolio_image_8.jpg" data-rel="prettyPhoto" class="img-thumb"><img class="portfolio_image" src="/images/portfolio_image_8.jpg" alt="" /></a>
					</span>
					<span class="title"><a href="~/precios/">The standard Lorem Ipsum passage</a></span>
					<span class="description">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</span>
					<span class="clear padding15"></span>
				</li>
				<!-- END PORTFOLIO COLUMN #8 -->
				
				<!-- START PORTFOLIO COLUMN #9 -->
				<li id="id-9" class="util">
					<span class="image">
						<a href="/images/portfolio_image_9.jpg" data-rel="prettyPhoto" class="img-thumb"><img class="portfolio_image" src="/images/portfolio_image_9.jpg" alt="" /></a>
					</span>
					<span class="title"><a href="~/precios/">The standard Lorem Ipsum passage</a></span>
					<span class="description">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</span>
					<span class="clear padding15"></span>
				</li>
				<!-- END PORTFOLIO COLUMN #9 -->
			</ul>
			<div class="clear"></div>
		</div>
	</section>
    <!-- END CONTENT -->
